<h1>Rodzaje klocków składowych</h1>

<% for block_type in @block_types %>
	<p>
          <b><%= link_to block_type.name, block_type_path(block_type) %></b> &nbsp;
          <%= link_to 'edytuj', edit_block_type_path(block_type) %>,
	  <%= link_to 'usuń', block_type_path(block_type), :method => 'delete', :confirm => 'Czy na pewno chcesz usunąć ten rodzaj klocka składowego?' %>
        </p>
<% end %>

<br />
<%= link_to 'Stwórz nowy', new_block_type_path() %>