<h1>Nowy rodzaj klocka składowego</h1>

<%= error_messages_for :block_type %>

<% form_for @block_type do |f| %>
	<%= render :partial => 'form', :locals => { :f => f, :block_type => @block_type } %>
	<p>
  		<input type="submit" value="Utwórz" /> lub <%= link_to 'anuluj', block_types_path %>
	</p>
        


<% end %>