- for block in blocks
	%li
		%strong= block.block_type.name unless block.block_type.nil?
		=# link_to 'edytuj', edit_project_block_path(@project, block)
		= link_to "", project_block_path(@project, block), :method => 'delete', :confirm => 'Czy na pewno chcesz usunąć ten klocek?', :class => "icon close"
		.cost_bar
			- for block_stage in block.block_stages
				%a{:title => block_stage.stage.stage_type.name, :style => "width: #{block_stage.block_cost_participation}px"}= block_stage.cost || 0
			
