<h1><%= @block_type.name %></h1>

<%= error_messages_for :block %>

<% form_for [@project, @block] do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <p>
    <input type="submit" value="Zapisz" /> lub <%= link_to 'anuluj', edit_project_path(@project) %>
  </p>
<% end %>