<h1>Nowy klocek</h1>

<%= error_messages_for :block %>

<% form_for [@project, @block] do |f| %>
	<%= render :partial => 'form', :locals => { :f => f } %>
	
	<p>
		<input type="submit" value="Utwórz" /> lub <%= link_to 'anuluj', project_blocks_path(@project) %>
	</p>
<% end %>