- render :partial => "sidebar"

%ul#links
	- if can? :crete, Demo
		%li= link_to "dodaj demo", new_project_demo_path(@project)
	- if can? :update, @project
		%li= link_to "edytuj", edit_project_path(@project)
	- if can? :destroy, @project
		%li= link_to "usuń", project_path(@project), :confirm => "Czy na pewno chcesz usunąć ten projekt?", :method => :destroy


#timeline
	.canvas

%h1= @project.name