.popup {
  position: absolute;
  background-color: #333333;
  border: 1px solid white;
  padding: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  opacity: 0.85;
  filter: alpha(opacity=85);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)"; }
  .popup a {
    color: #fff1aa;
    text-decoration: none; }
  .popup a:hover {
    text-decoration: underline; }
  .popup h3 {
    margin: 0;
    margin-bottom: 5px;
    font-size: 12px; }
  .popup textarea {
    width: 100%; }
  .popup .triangle {
    position: absolute;
    width: 0;
    height: 0; }
  .popup .triangle.top {
    top: -10px;
    left: 50%;
    margin-left: -5px;
    border-top: 0px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white; }
  .popup .triangle.top.black {
    top: -9px;
    border-bottom-color: #333333; }
